[submodule "D3"]
	path = D3
	url = https://github.com/GedMarc/JWebMP-D3Plugin.git
	ignore=dirty
[submodule "C3"]
	path = C3
	url = https://github.com/GedMarc/JWebMP-C3Plugin.git
	ignore=dirty
[submodule "EasyPieChart"]
	path = EasyPieChart
	url = https://github.com/GedMarc/JWebMP-Easy-Pie-Chart.git
	ignore=dirty
[submodule "JQPlot"]
	path = JQPlot
	url = https://github.com/GedMarc/JWebMP-JQPlotPlugin.git
	ignore=dirty
[submodule "ChartJS"]
	path = ChartJS
	url = https://github.com/GedMarc/JWebMP-ChartJS.git
